* {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 32px;
}

td {
    padding: 1.5rem;
    text-transform: capitalize;
    font-size: 14px;
}

.exercise-list {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
}