* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "sans serif";
}

#header {
  position: relative;
}

#header :after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 110%;
  transform: skewY(-2deg);
  background: #413DA4;
  background: -moz-linear-gradient(left, #413DA4 0%, #4157A5 21%, #661784 100%);
  background: -webkit-linear-gradient(left, #413DA4 0%, #4157A5 21%, #661784 100%);
  background: linear-gradient(to right, #413DA4 0%, #4157A5 21%, #661784 100%);
  transform-origin: bottom left;
  z-index: -1;
  overflow: hidden;
}

#add-calorie-btn {
  background: #f1eef2;
  color: #2a0539;
  line-height: 1.5rem;
  font-size: 18px;
}

h3 {
  font-size: 22px;
  font-weight: 200;
}

td {
  padding: 1rem;
  text-transform: capitalize;
  font-size: 18px;
  text-align: center;
}

th {
  font-size: 19px;
  font-weight: 500;
  text-transform: capitalize;
}

.input-label {
  text-align: center;
}

.exercise-list {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: auto;
  margin-top: 10px;
}

.table-row {
  background-color: #bca8c3;
  color: black;
  margin-bottom: 10px;
}

#nameInput {
  display: flex;
  justify-content: start;
  align-content: start;
  margin: auto;
}

.macros {
  list-style-type: none;
  margin-top: 10px;
}

.ui-autocomplete {
  border-radius: 4px;
  width: 11rem;
  border: #6b7280 1px solid;
  background-color: #F9FAFB;
  opacity: 97%;
}

.ui-widget-content li {
  background-color: #F9FAFB;
  height: 20px;
  width: 100%;
  font-size: 14px;
  padding-bottom: 18px;
  padding-left: 8px;
}

.ui-widget-content li:first-child {
  border-radius: 3px 3px 0 0;
}

.ui-widget-content li:last-child {
  border-radius: 0 0 3px 3px;
}

.ui-widget-content li:hover,
.ui-autocomplete:hover {
  background-color: #cbd5e1;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding-left: 0;
}

/* Disables Message from Jquery UI */
.ui-helper-hidden-accessible {
  display: none;
}

#exercise-input {
  width: 15rem;
  margin-bottom: 30px;
}

#exercise-table {
  width: 60rem;
  height: auto;
  text-align: center;
}

@media only screen and (max-width: 768px) {

  /* Styles for screens smaller than 768px */
  .exercise-list {
    flex-wrap: wrap;
  }

  #exercise-table {
    width: 100%;
    font-size: 16px;
  }

  td {
    font-size: 16px;
  }

  th {
    font-size: 18px;
  }
}